<div class="modal-header">
    <h4 class="modal-title">
        <span>@L("LinkedAccounts")</span>
        <button id="LinkNewAccountButton" class="btn btn-primary blue pull-right"><i class="fa fa-plus"></i>@L("LinkNewAccount")</button>
    </h4>
</div>
<div class="modal-body">
    <div id="LinkedAccountsTable"></div>
</div>
<div class="modal-footer">
    <button type="button" class="btn default pull-right" data-dismiss="modal">@L("Close")</button>
</div>