<select name="RoleSelectionCombobox"
        class="form-control"
        ng-options="role.id as role.displayName for role in roles"
        ng-model="selectedRole"
        ui-jq="selectpicker"
        ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
        data-none-selected-text="{{emptyText}}">
    <option value=""></option>
</select>