@using YoYoCms.AbpProjectTemplate.Web.Areas.Mpa.Models.Common.Modals
@model LookupModalViewModel

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.Title ?? L("SelectAnItem")))

<div class="modal-body">
    <form ng-if="vm.options.showFilter">
        <div class="input-group margin-bottom-10">
            <input class="form-control lookup-filter-text" placeholder="@L("SearchWithThreeDot")" type="text">
            <span class="input-group-btn">
                <button class="btn default lookup-filter-button" type="submit"><i class="icon-magnifier"></i></button>
            </span>
        </div>
    </form>
    <div class="lookup-modal-table"></div>
</div>

<div class="modal-footer">
    <button type="button" class="btn default close-button" data-dismiss="modal">@L("Cancel")</button>
</div>