<li class="media" ng-click="vm.chat.selectFriend(friend)">
    <div class="media-status">
        <span ng-if="friend.unreadMessageCount" class="badge bg-yellow-casablanca">{{friend.unreadMessageCount}}</span>
    </div>
    <img ng-if="friend.friendProfilePictureId" ng-src="{{vm.consts.appPath}}Profile/GetFriendProfilePictureById?id={{friend.friendProfilePictureId}}&userId={{friend.friendUserId}}&tenantId={{friend.friendTenantId}}" class="media-object" alt="...">
    <img ng-if="!friend.friendProfilePictureId" ng-src="{{vm.consts.appPath}}Common/Images/default-profile-picture.png" class="media-object" alt="...">
    <div class="media-body" style="padding-top: 10px;">
        <h4 class="media-heading">{{vm.chat.user.getShownUserName(friend.friendTenancyName,friend.friendUserName)}}</h4>
    </div>
    <span class="contact-status" ng-class="{'online':friend.isOnline, 'offline':!friend.isOnline}"></span>
</li>