    <!-- BEGIN PRE-FOOTER -->
<div class="pre-footer">
    <div class="container">
        <div class="row">
            <!-- BEGIN BOTTOM ABOUT BLOCK -->
            <div class="col-md-4 col-sm-6 pre-footer-col">
                <h2>About us</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam sit nonummy nibh euismod tincidunt ut laoreet dolore magna aliquarm erat sit volutpat.</p>
                <div class="photo-stream">
                    <h2>Photos Stream</h2>
                    <ul class="list-unstyled">
                        <li><a href="javascript:;"><img alt="" src="~/metronic/assets/frontend/pages/img/people/img5-small.jpg"></a></li>
                        <li><a href="javascript:;"><img alt="" src="~/metronic/assets/frontend/pages/img/works/img1.jpg"></a></li>
                        <li><a href="javascript:;"><img alt="" src="~/metronic/assets/frontend/pages/img/people/img4-large.jpg"></a></li>
                        <li><a href="javascript:;"><img alt="" src="~/metronic/assets/frontend/pages/img/works/img6.jpg"></a></li>
                        <li><a href="javascript:;"><img alt="" src="~/metronic/assets/frontend/pages/img/works/img3.jpg"></a></li>
                        <li><a href="javascript:;"><img alt="" src="~/metronic/assets/frontend/pages/img/people/img2-large.jpg"></a></li>
                        <li><a href="javascript:;"><img alt="" src="~/metronic/assets/frontend/pages/img/works/img2.jpg"></a></li>
                        <li><a href="javascript:;"><img alt="" src="~/metronic/assets/frontend/pages/img/works/img5.jpg"></a></li>
                        <li><a href="javascript:;"><img alt="" src="~/metronic/assets/frontend/pages/img/people/img5-small.jpg"></a></li>
                        <li><a href="javascript:;"><img alt="" src="~/metronic/assets/frontend/pages/img/works/img1.jpg"></a></li>
                        <li><a href="javascript:;"><img alt="" src="~/metronic/assets/frontend/pages/img/people/img4-large.jpg"></a></li>
                        <li><a href="javascript:;"><img alt="" src="~/metronic/assets/frontend/pages/img/works/img6.jpg"></a></li>
                        <li><a href="javascript:;"><img alt="" src="~/metronic/assets/frontend/pages/img/works/img3.jpg"></a></li>
                        <li><a href="javascript:;"><img alt="" src="~/metronic/assets/frontend/pages/img/people/img2-large.jpg"></a></li>
                        <li><a href="javascript:;"><img alt="" src="~/metronic/assets/frontend/pages/img/works/img2.jpg"></a></li>
                    </ul>
                </div>
            </div>
            <!-- END BOTTOM ABOUT BLOCK -->
            <!-- BEGIN BOTTOM CONTACTS -->
            <div class="col-md-4 col-sm-6 pre-footer-col">
                <h2>Our Contacts</h2>
                <address class="margin-bottom-40">
                    35, Lorem Lis Street, Park Ave<br>
                    California, US<br>
                    Phone: 300 323 3456<br>
                    Fax: 300 323 1456<br>
                    Email: <a href="mailto:info@mydomain.com">info@mydomain.com</a><br>
                    Skype: <a href="skype:metronic">myskypename</a>
                </address>
                <div class="pre-footer-subscribe-box pre-footer-subscribe-box-vertical">
                    <h2>Newsletter</h2>
                    <p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>
                    <form action="#">
                        <div class="input-group">
                            <input type="text" placeholder="youremail@mail.com" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">Subscribe</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END BOTTOM CONTACTS -->
            <!-- BEGIN TWITTER BLOCK -->
            <div class="col-md-4 col-sm-6 pre-footer-col">
                <h2 class="margin-bottom-0">Latest Tweets</h2>
                <a class="twitter-timeline" href="https://twitter.com/twitterapi" data-tweet-limit="2" data-theme="dark" data-link-color="#57C8EB" data-widget-id="455411516829736961" data-chrome="noheader nofooter noscrollbar noborders transparent">Loading tweets by @@keenthemes...</a>
            </div>
            <!-- END TWITTER BLOCK -->
        </div>
    </div>
</div>
<!-- END PRE-FOOTER -->
