@using YoYoCms.AbpProjectTemplate.Localization
<div>
    <form role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span>@L("LinkedAccounts")</span>
                <button class="btn btn-primary blue pull-right" ng-click="vm.manageLinkedAccounts()"><i class="fa fa-plus"></i>@L("LinkNewAccount")</button>
            </h4>
        </div>
        <div class="modal-body">
            <div busy-if="vm.loading">
                <div ui-grid="vm.linkedUsersGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn default pull-right" ng-click="vm.cancel()">@L("Close")</button>
        </div>
    </form>
</div>