@using YoYoCms.AbpProjectTemplate.Web.Navigation
@{
    ViewBag.CurrentPageName = PageNames.Frontend.About;
}
 

<!-- SECTION FULLSCREEN -->
<section class="parallax text-light halfscreen" data-parallax-image="/polo/images/parallax/17.jpg">
    <div class="container">
         <div class="container-fullscreen">
            <div class="text-middle text-center text-right">
                <h1 class="text-uppercase text-medium" data-animation="fadeInDown" data-animation-delay="100">角落的白板笔</h1>
                <p class="lead" data-animation="fadeInDown" data-animation-delay="300">Web Designer / Developer</p>
            </div>

        </div>
    </div>
</section>
<!-- end: SECTION FULLSCREEN -->
 
<section>
    <div class="container">
        <div class="row  m-b-50">
            <div class="col-md-3">
                <div class="heading heading text-left">
                    <h2>ABOUT ME</h2>

                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat,
                        <br>
                        <br> facilisis ut venenatis eu, sodales vel dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.
                    </div>

                    <div class="col-md-6">
                        Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.
                        <br>
                        <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volut.
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="heading heading text-left m-b-20">
                    <h2>My Skills</h2>

                </div>Lorem ipsum dolor sit ametusp endisse consectetur fringilla luctus. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat,
            </div>
            <div class="col-md-9">
                <div class="m-t-60">
                    <div class="progress-bar-container title-up small extra-small color">
                        <div class="progress-bar" data-percent="100" data-delay="100" data-type="%">
                            <div class="progress-title">HTML5</div>
                        </div>
                    </div>

                    <div class="progress-bar-container title-up small extra-small color">
                        <div class="progress-bar" data-percent="94" data-delay="200" data-type="%">
                            <div class="progress-title">CSS3</div>
                        </div>
                    </div>

                    <div class="progress-bar-container title-up small extra-small color">
                        <div class="progress-bar" data-percent="78" data-delay="300" data-type="%">
                            <div class="progress-title">JQUERY</div>
                        </div>
                    </div>

                    <div class="progress-bar-container title-up small extra-small color">
                        <div class="progress-bar" data-percent="65" data-delay="400" data-type="%">
                            <div class="progress-title">MYSQL</div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</section>
 
<hr class="space">
<hr class="space">
