@using YoYoCms.AbpProjectTemplate.Web.Navigation
@{
    ViewBag.CurrentPageName = PageNames.Frontend.About;
}
 

<!-- SECTION FULLSCREEN -->
<section class="parallax text-light halfscreen" data-parallax-image="/polo/images/parallax/17.jpg">
    <div class="container">
         <div class="container-fullscreen">
            <div class="text-middle text-center text-right">
                <h1 class="text-uppercase text-medium" data-animation="fadeInDown" data-animation-delay="100">角落的白板笔</h1>
                <p class="lead" data-animation="fadeInDown" data-animation-delay="300">Web Designer / Developer</p>
            </div>

        </div>
    </div>
</section>
<!-- end: SECTION FULLSCREEN -->
 
<section>
    <div class="container">
        <div class="row  m-b-50">
            <div class="col-md-3">
                <div class="heading heading text-left">
                    <h2>ABOUT ME</h2>

                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        我是角落的白板笔，从2012年做.NET开发，在2015年5月，接触了开源框架ASP.NET Boilerplate Project。因为他的身份系统限是基于ASP.NET Identity，然后在使用ABP的过程中，逐步喜欢上这个框架，决定在国内的开源社区中进行推广它。<br/>

                        在线上推广中发现了一些基础开发人员觉得框架的门槛较高所以创建了角落的白板报的博客，发表一些基础性文章来帮助大家提高开发技巧，目前也在持续更新文章中。<br />

                        2016年8月，决定帮助一些开发人员解决开发效率的问题，制作了<a target="_blank" href="https://marketplace.visualstudio.com/items?itemName=werltm.ABPCodeGenerator">代码生成器(ABP Code Generator)</a>代码生成器(ABP Code Generator)，辅助与ABP框架，提高开发人员的效率，目前已经由2000多次下载，然后也在持续更新和维护中，目前也支持最新的Visual Studio 2017. 目前作为公司的技术leader，经过推广ABP框架之后使用.NET开发的人数也逐步上涨。<br />

                        现在也在开发中尝试使用.NET Core作为开发。 自己平时也活跃于github：<a target="_blank" href="https://github.com/ltm0203">https://github.com/ltm0203</a>
                         
                    </div>

                    <div class="col-md-6">
                        I am 角落的白板笔, from 2012. NET development, in May 2015, contact with the open source framework ASP.NET Boilerplate Project.Because of his Identity system is based on limited ASP.NET Identity, and then use the process of ABP, gradually to like the framework, decided to promote it in the home of the open source community.
                      
                        <br>
                        Found some online promotion based developers feel the threshold of the framework is higher so created white newsletter constructs in the corner of the blog, published some basic articles to help you develop skills, continues to update the article at present.
                      
                        <br>
                        In August 2016, some developers decided to help solve the problems of the development efficiency, make the Code Generator <a target="_blank" href="https://marketplace.visualstudio.com/items?itemName=werltm.ABPCodeGenerator">ABP Code Generator</a>, auxiliary and ABP framework, improve the efficiency of the developer, has so far by more than 2000 downloads, and then continues to update and maintenance, are now also support the latest Visual Studio 2017. Now as the company's technology leader, use after promotion of ABP framework. The number of NET development also gradually rise.
                        <br/>
                        Now also try to use in the development. NET Core as a development.At ordinary times is also active in github:<a target="_blank" href="https://github.com/ltm0203">https://github.com/ltm0203</a>himself.
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="heading heading text-left m-b-20">
                    <h2>My Skills</h2>

                </div>我看看我会啥啊
            </div>
            <div class="col-md-9">
                <div class="m-t-60">
                    <div class="progress-bar-container title-up small extra-small color">
                        <div class="progress-bar" data-percent="20" data-delay="100" data-type="%">
                            <div class="progress-title">HTML5</div>
                        </div>
                    </div>

                    <div class="progress-bar-container title-up small extra-small color">
                        <div class="progress-bar" data-percent="60" data-delay="200" data-type="%">
                            <div class="progress-title">Angular</div>
                        </div>
                    </div>

                    <div class="progress-bar-container title-up small extra-small color">
                        <div class="progress-bar" data-percent="50" data-delay="300" data-type="%">
                            <div class="progress-title">Vue</div>
                        </div>
                    </div>

                    <div class="progress-bar-container title-up small extra-small color">
                        <div class="progress-bar" data-percent="85" data-delay="400" data-type="%">
                            <div class="progress-title">C#</div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</section>
 
<hr class="space">
<hr class="space">
