
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1493282013667'); /* IE9*/
  src: url('iconfont.eot?t=1493282013667#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1493282013667') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1493282013667') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1493282013667#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before { content: "\e602"; }

.icon-iconfontexcel:before { content: "\e622"; }

.icon-list:before { content: "\e600"; }

.icon-service:before { content: "\e6c7"; }

.icon-gifts:before { content: "\e6db"; }

.icon-warn:before { content: "\e653"; }

.icon-chat1:before { content: "\e61c"; }

.icon-bell:before { content: "\e63f"; }

.icon-oslash:before { content: "\e618"; }

.icon-feedback:before { content: "\e639"; }

.icon-feedback1:before { content: "\e6d6"; }

.icon-feedback2:before { content: "\e609"; }

.icon-signin:before { content: "\e7fa"; }

.icon-cart:before { content: "\e68e"; }

.icon--xianxing:before { content: "\e882"; }

.icon-refresh:before { content: "\e640"; }

.icon-zhuanzhang:before { content: "\e69e"; }

